.header__container{
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 22px
}

.header__list{
  @include reset-list;
  display: flex;
}
.header__nav{
  margin-right: auto;
  margin-left: 58px;
}
.header__link{
  color: #939CAA;
  font-size: 15px;
  line-height: 25px;

  &:hover{
    color: #FCB72B;
  }
}

.header__item{
  margin-right: 32px;
}

.header__item:last-child{
  margin-right: 0;
}



@keyframes opener {
  from{
    transform: translateX(-100%);
  }

  to{
    transform: translateX(0);
  }
}

@media screen and (max-width: $phone) {
  .header{
   
  }
  .header__container{
   justify-content: center;
   position: relative;
  }
  .header__icon-link{
    margin: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    
   
  }

  .header__nav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(#000000, 0.75);
    left: 0;
    width: 100%;
    height: calc(100vh - 76px);
    z-index: 3;
    animation: opener 0.5s linear;
    margin-left: 0px;
  }

  .header__nav::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 100%;
    left: 0;
    background-color: #333A44;
    z-index: -1;
  }

  .header__scootin-link--active{
    display: block;
    top: 100%;
    position: absolute;
    z-index: 3;
    margin-top: 200px;
  }

  .header__nav--active {
    display: block;
  }

  .header {
    position: relative;
  }

 

  .header__link{
    color: #E5ECF4;
    font-size: 18px;
    line-height: 25px;
  }

  .header__list{
    flex-direction: column;
    padding-left: 32px;
    padding-top: 64px;
  }

  .header__item{
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header__icon-link{
    position: absolute;
  }
}